<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Vizja Testweb - Test Automation Suite" parallel="tests" thread-count="3" verbose="2">
    
    <listeners>
        <listener class-name="com.vizja.testweb.utilities.EnhancedTestListener"/>
        <listener class-name="com.vizja.testweb.utilities.Listeners"/>
    </listeners>
    
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="true"/>
    <parameter name="timeout" value="30"/>
    <parameter name="baseUrl" value="https://allovercommerce.com"/>
    
    <test name="US01_UserRegistration" preserve-order="true">
        <parameter name="userStoryId" value="US_01"/>
        <parameter name="description" value="User should be able to register successfully"/>
        <classes>
            <class name="com.vizja.testweb.tests.us01.Us01_KullaniciKaydiYapilabilmeli"/>
        </classes>
    </test>
    
    <test name="US02_InvalidUserRegistration" preserve-order="true">
        <parameter name="userStoryId" value="US_02"/>
        <parameter name="description" value="System should handle invalid registration attempts"/>
        <classes>
            <class name="com.vizja.testweb.tests.us02.Us02_GecersizYeniKullaniciKayit"/>
        </classes>
    </test>
    
    <test name="US03_BillingAddress" preserve-order="true">
        <parameter name="userStoryId" value="US_03"/>
        <parameter name="description" value="User should be able to add billing address"/>
        <classes>
            <class name="com.vizja.testweb.tests.us03.Us03_BillingAdressEkle"/>
        </classes>
    </test>
    
</suite>
